@import "./variables";
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/OpenSans-Regular.ttf") format("ttf");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
* {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: $black;
}

a {
  text-decoration: none;
}
label {
  font-size: 13.5px !important;
}

.main-title {
  font-size: 30px;
  font-weight: 400;
  line-height: 54px;
  color: $black;
  @media (max-width: 396px) {
    font-size: 25px;
    line-height: 39px;
  }
}
.subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: rgba($black, 0.72);
}

.btn {
  color: $white !important;
  height: unset !important;
  position: relative;
  transition: 0.3s;
  max-width: 210px;
  &::before {
    background-color: $blue !important;
    opacity: 1 !important;
    transition: 0.3s !important;
    border-radius: 2px;
  }
  &:hover::before {
    background-color: $white !important;
    transition: 0.3s !important;
    border: 2px solid $blue;
  }
  &.register {
    margin-left: 34px;
    @media (max-width: 1140px) {
      margin-left: 0;
    }
  }
  &.back {
    padding-left: 32px !important;
    padding-right: 32px !important;
    @media (max-width: 1140px) {
      padding-left: 52px !important;
      padding-right: 52px !important;
    }
  }
  & > span {
    font-size: 16px !important;
    line-height: 30px !important;
    text-transform: none !important;
    @media (max-width: 396px) {
      font-size: 16px !important;
    }
  }
  &-register {
    padding: 8px 45px !important;
  }
  &-login {
    padding: 8px 45px !important;
  }

  &:hover {
    background-color: $white !important;
    color: $black !important;
    transition: 0.3s;
    box-shadow: none !important;
  }
}
.content {
  position: relative;
  bottom: 70px;
}
.login-form {
  background-color: $form-bg;
  padding: 30px 50px;
  max-width: 500px;
  @media (max-width: 1140px) {
    background-color: $white;
    padding: 60px 0 30px;
    max-width: 520px;
  }
  h1 {
    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
    @media (max-width: 396px) {
      font-size: 14px;
      line-height: 23px;
    }
  }
}
.v-label.theme--light {
  color: #c4c4c4;
}
.abilities {
  .v-input__control {
    max-height: unset !important;
  }
  .v-input__icon.v-input__icon--append {
    display: none !important;
  }
  fieldset {
    z-index: 100;
  }
  .v-select__selections {
    max-height: 50px;
    overflow-y: auto;
    @media (max-width: 1140px) {
      max-height: 60px;
      height: 60px;
    }
    &::-webkit-scrollbar {
      width: 2px;
      position: relative;
      z-index: -1;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $blue;
      position: relative;
      z-index: -1;
      border-radius: 1px;
    }
  }
}
.v-input__control {
  max-height: 35px;
  display: unset;
  .v-input__append-inner {
    margin-top: 10px !important;
  }
}
.custom-input.login-input {
  min-width: 386px;
  @media (max-width: 768px) {
    min-width: 0px;
  }
}
.custom-input {
  max-width: 659px;

  .v-input__slot {
    border-radius: 0 !important;
    margin-bottom: 0;
    min-height: 50px !important;
  }
}
.v-text-field--outlined fieldset {
  border: 1px solid rgba(0, 0, 0, 0.31);
}
.v-input--is-focused {
  fieldset {
    border: 3px solid #438eff !important;
  }
}
.custom-check {
  position: relative;
  bottom: 20px;
}
.invalid {
  fieldset {
    border: 3px solid $borderInvalid !important;
  }
}
.v-application--wrap {
  justify-content: center;
}
.v-text-field__details {
  margin-top: 3px;
}
.v-messages__message {
  font-size: 12px;
  line-height: 14px;
  max-height: 16px;
  color: $messageInvalid;
  position: relative;
  left: -10px;
  @media (max-width: 396px) {
    font-size: 13px;
    line-height: 14px;
    padding-top: 5px;
  }
  @media (max-width: 330px) {
    font-size: 13px;
  }
}
.hide {
  visibility: hidden;
}
.datepicker {
  .v-input__slot {
    padding: 0 !important;
  }
  .v-text-field__slot {
    position: relative;
    &::after {
      content: url("../img/CalendarDate.svg");
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      margin-right: 20px;
      margin-top: 1px;
      z-index: 2;
    }
  }
  input {
    position: absolute;
    display: flex;
    align-items: center;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    bottom: 0;
    right: 0;
    padding: 0 12px !important;
    max-height: unset !important;
    z-index: 3;
  }
}
.content-block {
  margin-right: 50px;
  @media (max-width: 1140px) {
    display: none;
  }
}
.register-invite {
  display: none;
  @media (max-width: 1140px) {
    display: block;
  }
  @media (max-width: 396px) {
    font-size: 16px;
  }
  & > a {
    @media (max-width: 396px) {
      font-size: 16px;
    }
  }
}
.form-wrapper {
  @media (max-width: 1140px) {
    width: 100%;
    padding: 0 15px;
  }
}
.form-row {
  display: flex;
  max-width: 386px;
  justify-content: space-between;

  @media (max-width: 1140px) {
    flex-direction: column;
    margin-bottom: 30px;
  }
  &.second-page {
    position: relative;
    @media (max-width: 1140px) {
      margin-bottom: 25px;
    }
  }
  margin-bottom: 30px;
  &.password {
    @media (max-width: 1140px) {
      margin-bottom: 25px;
    }
  }
  .form-item {
    &.half {
      width: 48%;
      max-width: 193px;
      @media (max-width: 1140px) {
        width: 100%;
        max-width: unset;
      }
      &:first-child {
        @media (max-width: 1140px) {
          margin-bottom: 30px;
        }
      }
      &:nth-child(2) {
        @media (max-width: 1140px) {
          margin-bottom: 10px;
        }
      }
    }
    &.full {
      width: 100%;
      max-width: 400px;
    }
  }
}
.button-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  @media (max-width: 1140px) {
    flex-direction: column-reverse;
  }
  .btn {
    margin-top: 0;
    &:nth-child(1) {
      @media (max-width: 1140px) {
        margin-top: 10px;
      }
    }
  }
}

.custom-textarea {
  .v-input__control {
    max-height: unset !important;
    height: 80px !important;
  }
  .v-input__slot {
    height: inherit !important;
  }
}
.v-label {
  font-size: 13px;
}
.first-page {
  max-width: 386px;
}
.v-menu__content {
  z-index: 10000 !important;
}
.disabled {
  .v-input__slot {
    background-color: $form-bg !important;
  }
}
.form-block {
  position: relative !important;
}
.alert-custom {
  cursor: pointer;
  position: absolute !important;
  z-index: 100;
  bottom: 40px;
  min-width: 326px;
  max-height: 58px;
  left: 100%;
  border: 1px solid $messageInvalid;
  @media (max-width: 1140px) {
    bottom: unset;
    left: 50%;
    transform: translateX(-50%);
    top: -90px;
  }
  transition: 0.2s ease;
  .v-alert__content {
    span {
      font-size: 14px;
      color: $white;
      font-weight: 700;
      position: relative;
      z-index: 200;
      @media (max-width: 1140px) {
        font-size: 13px;
      }
    }
  }
  &.show {
    transition: 0.2s ease;
    left: 70%;
    @media (max-width: 1140px) {
      left: 50%;
      top: 30px;
    }
  }
}
